body {
    background: #FFFFFF url("Patterns-Nostálgico.jpg") no-repeat right top fixed;
    background-size: cover;
}

html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ajuste para preencher toda a altura da tela */
}

.container {
    margin: auto; /* Ajuste automático das margens laterais */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem; 
    border-style: solid;
    border-width: 0.5rem; 
    border-color: rgb(255, 251, 0);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem rgba(0, 0, 0, 0.19);
    border-radius: 0.625rem;
    background-image: none;
    background-color: rgb(255, 0, 0);
}

.text {
    color: antiquewhite;
    font-size: 1.4rem;
    margin-top: -2%;
}

.title {
    font-size: 0.8rem;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subTitle {
    color: antiquewhite;
    font-size: 0.7rem;
    margin-top: -12%;
}

.alternatives {
    color: antiquewhite;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}

.timer {
    color: antiquewhite;
    margin-top: 1rem; /* Ajuste para telas menores */
    margin-bottom: 1rem; /* Ajuste para telas menores */
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-confirm{
    width: 100%;
    height: 50px;
    margin-top: -15%;
    margin-bottom: 10%;
    font-size: 20px;
    background-color: yellow;
    border-color: red;
    color: red;
}

.textResult{
    color: antiquewhite;
    font-size: 2rem;
}

/* Media Queries para ajustar o layout em tamanhos menores */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
        border-width: 0.25rem;
        margin-top: 20%;
    }
    .title {
        font-size: 2rem;
    }

    .alternatives {
        color: antiquewhite;
        justify-content: space-between;
    }

}

@media (max-width: 480px){
    .container {
        padding: 0.5rem;
        border-width: 0.2rem;
        margin-top: 20%;
    }

    .alternatives {
        color: antiquewhite;
        justify-content: space-between;
    }

    .title {
        font-size: 3rem;
    }
}